form.with-label-indicator .form-group label:first-child::after {
	content: " (Optional)";
	color: grey;
	font-weight: lighter;
	font-size: small;
	font-style: italic;
}

form.with-label-indicator .form-group label.required::after {
	content: " (Required)";
	color: red;
}

/* .table.table-hover.table-striped thead {
	margin-top: 20px !important;
	background-color: #17a2b8 !important;
	color: #fff !important;
} */

.dataTables_wrapper .table,
.dataTables_scrollHead .dataTables_scrollHeadInner {
	width: 100% !important;
}

.dataTables_wrapper .table thead th {
	font-weight: 600;
	color: #6c757d;
}

.dataTables_scrollHead {
	margin-top: 5px;
}

.dataTables_wrapper .dataTables_paginate {
	margin-top: 10px !important;
}

.dataTables_wrapper .dataTables_filter label {
	display: inline !important;
	text-align: right !important;
}

.dataTables_wrapper .dataTables_filter input {
	width: 90% !important;
}

.fc .fc-header-toolbar .fc-today-button {
	text-transform: capitalize;
}

.external-event {
	cursor: inherit;
}
